/* Container and next-button */

.container {
  background: #e5e5e5;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto';
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.nextbutton {
  width: 80vw;
  height: 50px;
  cursor: pointer;
  margin: auto;
  background: #48b07a;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nextbuttontext {
  max-width: 80%;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: auto;
}

/* Startscreen elements */

.startscreen {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: space-around;
  grid-template-rows: auto auto auto;
  width: 100%;
}

.startscreen-image {
  margin: auto;
  max-width: 85vw;
  height: auto;
  align-self: end;
  margin-top: 10vw;
}

.startscreen-title {
  width: 85vw;
  height: 5vh;
  align-content: end;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.startscreen-description {
  width: 85vw;
  max-height: 20vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}

/* Questionscreen elements */

.questionscreen {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  width: 100%;
  align-content: start;
}

.progress-bar {
  height: 20vh;
  max-width: 100%;
  align-self: center;
  display: grid;
  grid-template-rows: auto auto;
}

.progress-rectangles {
  margin-top: 7%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 3vw;
  flex-direction: row;
  align-content: space-between;
  max-width: 80%;
  justify-content: space-between;
  align-items: stretch;
  justify-self: center;

  font-size: 12px;
}

.rectangle-empty {
  width: 40px;
  height: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: #dbdbdb;
}

.rectangle-current {
  width: 40px;
  height: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: #f2a7b1;
}

.rectangle-label {
  display: flex;
  justify-content: center;
  color: #a7a9b1;
}

.progress-fraction {
  height: 10px;
  width: 10px;

  background: #ec5569;
}

.question-number {
  width: 80vw;
  height: 14px;
  justify-self: center;
  align-self: end;
  margin-bottom: 3vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #a7a9b1;
}

.question-text {
  width: 80vw;
  height: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 23px;
  justify-self: center;

  color: #373737;
}

.buttons-panel {
  height: 50vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 35%;
  grid-column-gap: 3%;
  align-self: start;
  justify-self: center;
  margin-top: 2vh;
}
.buttonready {
  width: 90%;
  height: 14vh;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.buttonpressed {
  width: 90%;
  height: 14vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 12px;

  background: #ec5569;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.answer-text {
  width: 80%;
  justify-self: center;
  text-align: center;
}

/* Endscreen elements */

.endscreen {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  width: 100%;
  height: 10vh;
  align-content: start;
}

.end-header {
  width: 100vw;
  height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;

  background: #ec5569;
}

.section-name {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;

  color: #ffffff;
}

.your-score {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
}

.average {
  font-size: 12px;
  width: 50vw;
  height: 10vh;
  justify-self: center;
  margin-top: 10vh;
  color: black;
  text-align: center;
}

.score-slider-bg {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  width: 80vw;
  height: 7vh;
  justify-self: center;
  justify-content: start;

  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.score-slider {
  width: 50vw;
  height: 5vh;

  background: #ec5569;
  border-radius: 5px;
}

.slider-description {
  width: 70vw;
  height: 5vh;
  justify-self: center;
  margin-top: 4vh;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

.continue-text {
  margin-bottom: 4vh;
  width: 75vw;
  max-height: 15vh;
  justify-self: center;
  margin-top: 5vh;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  color: #373737;
}

.thank-you-message {
  justify-self: center;
}
